@*@model IEnumerable<Product>*@

@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />


<div class="container p-3">
    <div class="row py-4">
        <div class="col-6">
            <h2 class="text-primary">Products</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Upsert"><i class="bi bi-plus-square"></i> &nbsp; Add a new product</a>
        </div>
    </div>


    <table id="tblData" class="table table-hover" style="width:100%">
        <thead>
            <tr class="table-light">
                <th>Title</th>
                @*<th>Description</th>*@
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th>Actions</th>

            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}

